#SCULPIN_BOTTOM_BAR {
    background-color: #4D636D;
    border-top: 5px dashed #C27548;
    padding: 20px;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    > div {
        float: left;
        color: white;
        font-family: sans-serif;
        font-size: 1.1em;
        padding-right: 20px;
    }

    > div > strong {
        padding-right: 8px;
        font-weight: bolder;
    }

    a,
    a:visited {
        color: white;
        padding-left: 10px;
    }

    a:hover {
        color: #C4D6DF;
        padding-left: 10px;
    }

    div.controls {
        float: right;
    }

    div.controls > button {
        color: #ffffff;
        background-color: #9f1770;
        border: 0;
        padding: 10px;
        font-weight: bolder;
    }


    div.controls > span {
        color: white;
        font-family: sans-serif;
        padding-right: 20px;
    }
}

#SCULPIN_EDIT_PANEL {
    background-color: steelblue;
    padding: 12px;
    position: fixed;
    bottom: 0;
    height: 100%;
    left: 0;
    right: 0;

    h3 {
        color: white;
        font-family: sans-serif;
    }

    textarea {
        width: 100%;
        font-size: 1.02em;
        font-family: 'Roboto Mono', monospace;
        padding-bottom: 12px;
        height: 70%;
    }

    div.controls {
        margin-top: 8px;
    }

    div.controls > button {
        color: #ffffff;
        background-color: #9f480c;
        border: 0;
        padding: 10px;
        margin-top: 10px;
        font-weight: bolder;
    }

    div.controls > button#SCULPIN_SAVE_CHANGES {
        background-color: #9f1770;
        margin-right: 12px;
    }
}
